html,
body {
  margin: 0px;
  width: 100%;
  height: 100%;
}

#can {
  background: green;
}

#ui {
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
}

#ui-booster {
  border-radius: 4px;
  margin: 0px auto;
  width: 200px;
  height: 50px;
  background: green;
}

#ui-booster>div {
  display: flex;
  height: 50%;
  width: 100%;
  background: cyan;
}

#ui-booster>div>div {
  margin: 3px 5px;
  width: 5px;
  height: 20px;
  background: blue;
}

#ui-score {
  position: absolute;
  width: 100px;
  height: 50px;
  background: red;
  top: 0px;
  right: 0px;
  color: white;
  text-align: center;
  vertical-align: middle
}

#play-alert {
  background: red;
  width: 60%;
  height: 30%;
  margin: 0px auto;
}

#play-alert>button {
  display: block;
  margin: 20% auto 0px;
}

#play-alert>p {
  position: relative;
  width: 100%;
}